body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-image: url("../images/black-and-white-black-and-white-challenge-262488.jpg");

}

.game-header {
    grid-column: 1 / span 6;
    grid-row: 1/ span 2;
    justify-self: center;
    font-family: 'Monoton', cursive;
    font-size: 50px;
    background: -webkit-linear-gradient(green,red,blue,yellow);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.round {
    grid-column: 3 / span 2;
    grid-row: 2/ span 1;
    border-radius: 50%;
    height: 50px;
    width: 100px;
    justify-self: center;
    align-self: center;
    
}

h3 {
    text-align: center;
}



.start {
    height: 75px;
    width: 75px; 
    grid-column: 3 / span 2;
    grid-row: 5/ span 2;
    justify-self: center;
    align-self: center;
    background-color: forestgreen;
    border-radius: 50%;
    border: none;
    outline:none;
    
    

}

.square {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

.zero{
    background-color: darkgreen;
    grid-row: 3/ span 2;
    grid-column: 2/ span 2;
    
    
}

.one{
    background-color: darkred;
    grid-row: 3/ span 2;
    grid-column: 4/ span 2;
}

.two{ 
    background-color: darkblue;
    grid-row: 7/ span 2;
    grid-column: 2/ span 2;
}

.three{
    background-color: goldenrod;
    grid-row: 7/ span 2;
    grid-column: 4/ span 2;
}