.square {
    min-height: 100px;
    max-width: 100px;
}

.zero{
    background-color: blue;
}

.one{
    background-color: blueviolet;
}

.two{ 
    background-color: crimson
}

.three{
    background-color: yellow;
}